body {
    max-width: 50rem;
    font-family: sans-serif;
    padding: 0.5rem;
    margin: 0 auto;
}

.mono {
    font-family: monospace;
}
.muted {
    color: #666;
}
.muted:visited {
    color: #727272;
}
.bracket {
    color: #383f82;
}
.bracket::before {
    content: '{';
    color: #aaa;
}
.bracket::after {
    content: '}';
    color: #aaa;
}
ul {
    list-style-type: square;
}
ul, ol {
    padding-left: 1rem;
}
p, li {
    line-height: 1.5;
}
p:first-child {
    margin-top: 0;
}

.picture {
    max-width: 100%;
    @media (max-width: 600px) {
        max-width: 70%;
    }
}

.grid {
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 2rem;
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column-reverse;
    }
}
